<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title class="ion-text-center">
            Admin
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-row>
        <ion-col size="6">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Teste</ion-card-subtitle>
                    <ion-card-title>Vender</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Teste</ion-card-subtitle>
                    <ion-card-title>Criar Produto</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Teste</ion-card-subtitle>
                    <ion-card-title>Adicionar Materia Prima</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle></ion-card-subtitle>
                    <ion-card-title>...</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-col>
    </ion-row>
    <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>